<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="author" content=""> -->

    <title>PlayerInfo</title>
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/vendor.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
</head>
<body id="PlayerInfo">

	<div id="header"></div>

	<div id='mainPanel'></div>
	
	<div id="footer"></div>

	
	<script type="text/javascript" src="js/bundle_basicInfo.js"></script>
	
</body>
</html>
