<h1>LoL Look Up</h1>

<div class="basic">
	<p>Enter name:</p>
	<input id="inputPlayerName" type="text">
	<button id="submitInquiryBtn" type="button">Basic</button>
	<button id="recentGamesBtn" type="button">RecentGames</button>
</div>
